<nav class="bg-black text-white px-8 py-6 flex items-center justify-between">
  <div class="flex items-center gap-10">
    <div class="flex items-center gap-2">
      <img
        src="https://play-lh.googleusercontent.com/R9m9XbBwKEC3UQFXI2_swMLuudBKVM8cT_t6wx51b5jnLdqh2UTPwEj41oc74wuvKP4"
        class="h-6"
      />
      <span class="text-center text-gray-400">Beat Pro</span>
    </div>
    <ul class="flex items-center gap-6 text-sm font-semibold">
      <li><a [routerLink]="['']" class="hover:text-blue-400">Home</a></li>
      <li><a [routerLink]="['about']" class="hover:text-blue-400">About</a></li>
    </ul>
  </div>
  <div class="flex items-center gap-4">
    <a
      class="bg-gradient-to-r from-pink-600 to-purple-800 text-white px-4 py-2 rounded-md text-sm font-bold hover:opacity-90"
      >Empieza gratis</a
    >
    <a class="text-sm hover:text-blue-400 font-semibold">Inicia sesión</a>
  </div>
</nav>
