<nav
  class="font-orbitron bg-black text-white px-6 py-4 flex items-center justify-between relative"
>
  <div class="flex items-center gap-10">
    <div class="flex items-center gap-2">
      <img
        src="https://play-lh.googleusercontent.com/R9m9XbBwKEC3UQFXI2_swMLuudBKVM8cT_t6wx51b5jnLdqh2UTPwEj41oc74wuvKP4"
        class="h-6"
      />
      <span class="text-center text-gray-400">Beat Pro</span>
    </div>
    <ul class="hidden md:flex items-center gap-6 text-sm font-semibold">
      <li><a [routerLink]="['']" class="hover:text-blue-400">Home</a></li>
      <li><a [routerLink]="['about']" class="hover:text-blue-400">About</a></li>
    </ul>
  </div>
  <div class="hidden md:flex items-center gap-4">
    <a
      class="bg-gradient-to-r from-pink-600 to-purple-800 text-white px-4 py-2 rounded-md text-sm font-semibold hover:opacity-90"
      >Empieza gratis</a
    >
    <a class="text-sm hover:text-blue-400 font-semibold">Inicia sesión</a>
  </div>
  <button
    class="md:hidden z-30"
    (click)="isMenuOpen = !isMenuOpen"
    aria-label="Toggle menu"
  >
    <svg
      class="w-6 h-6 text-white"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>

  <div
    *ngIf="isMenuOpen"
    (click)="isMenuOpen = false"
    class="fixed inset-0 bg-black bg-opacity-70 backdrop-blur-sm z-20 md:hidden"
  ></div>

  <aside
    class="fixed top-0 left-0 h-full w-64 bg-black bg-opacity-90 text-white z-30 transform transition-transform duration-300 ease-in-out md:hidden"
    [class.translate-x-0]="isMenuOpen"
    [class.-translate-x-full]="!isMenuOpen"
  >
    <div class="p-6 flex flex-col space-y-6">
      <a
        (click)="isMenuOpen = false"
        [routerLink]="['']"
        class="hover:text-blue-400 text-lg font-semibold"
        >Home</a
      >
      <a
        (click)="isMenuOpen = false"
        [routerLink]="['about']"
        class="hover:text-blue-400 text-lg font-semibold"
        >About</a
      >
      <a
        (click)="isMenuOpen = false"
        class="bg-gradient-to-r from-pink-600 to-purple-800 px-4 py-2 rounded-md text-sm font-semibold hover:opacity-90 text-center"
        >Empieza gratis</a
      >
      <a
        (click)="isMenuOpen = false"
        class="text-sm hover:text-blue-400 font-semibold text-center cursor-pointer"
        >Inicia sesión</a
      >
    </div>
  </aside>
</nav>
