<section class="relative h-screen w-full overflow-hidden">
  <video #bgVideo src="https://res.cloudinary.com/ndamn/video/upload/v1748891260/background_1.mp4" autoplay muted playsinline loop preload="auto" class="absolute top-0 left-0 w-full h-full object-cover z-0">
    Tu navegador no soporta videos HTML5.
  </video>

  <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-60 z-10"></div>

  <!-- Texto centrado -->
  <div class="relative z-20 flex items-center justify-center h-full px-4 text-white text-center">
    <h1 class="font-orbitron text-4xl sm:text-5xl md:text-7xl font-bold drop-shadow-lg">Beat Pro</h1>
  </div>
</section>
